<!-- <!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Nawill Stores | Homepage </title>
    <link rel="stylesheet" href="/src/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Welcome to Nawill Online store">
    <meta content="Eccomerce, Online Store, Shopping" name="keywords">
</head>

<body>
    <!-- Move to up button -->
    <div class="scroll-button">
        <a href="/"><i class="fas fa-arrow-up"></i></a>
    </div>
    <!-- navgaition menu -->
    <nav>
        <div class="navbar">
            <div class="logo"><a href="/">Nawill Stores</a></div>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/add/products">AddProduct</a></li>
                <li><a href="/logout">Log Out</a></li>
                <div class="cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
            </ul>
        </div>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </nav>

    <!-- Shops Section Start -->
    <section class="services" id="services">
        <div class="content">
            <div class="title"><span>Admin Dashboard</span></div>
        <a href="/add/products" ><button class="btn btn-secondary"> Add New Product </button></a>

            <h2>Products</h2>
            <table>
            
                <tr>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Count in Stock</th>
                    <th>Rating</th>
                    <th>reviews</th>
                    <th>Created At</th>
                    <th>Last Updated </th>
                    <th>Edit Product</th>
                    <th>Delete Product </th>
            
                </tr>
                <%for(let product of record.products){ %>
                    <tr>
                        <td>
                            <%=product.productName%>
                        </td>
                        <td>
                            <img src="<%=product.image%>" alt="" height="25px" width="25px" >
                            
                        </td>
                        <td>
                            <%=product.brand%>
                        </td>
                        <td>
                            <%=product.category%>
                        </td>
                        <td>
                            <%=product.description%>
                        </td>
                        <td>
                            <%=product.price%>
                        </td>
                        <td>
                            <%=product.countInStock%>
                        </td>
                        <td>
                            <%=product.rating%>
                        </td>
                        <td>
                            <%=product.numReviews%>
                        </td>
                        <td>
                            <%=product.createdAt.toDateString() + " " + new Date().toLocaleTimeString()%>
                        </td>
                        <td>
                            <%=product.updatedAt.toDateString() + " " + new Date().toLocaleTimeString()%>
                        </td>
                        <td>
                            <button><a href="api/products/put/<%=product.id%>" class="btn btn-sm btn-primary">Edit</a></button>
                        </td>
                        <td>
                            <button><a href="api/products/" class="btn btn-sm btn-danger">Delete</a></button>
                        </td>
            
                    </tr>
                    <%}%>
            </table>

        </div>
    </section>

        <div class="content">
           
        </div>
    
        
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
    
            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
    
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

  
    <!-- Footer Section Start -->
        <br>
    <footer>
        <div class="text">
            <span>Nawill Stores| &#169; 2022 All Rights Reserved</span>
        </div>
    </footer>

    <script src="/src/script.js"></script>
</body>

</html> -->